/* Основное поле */
.game-field {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0f8ff;
  background-image: url('/src/assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.players-circle {
  position: relative;
}

.player-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 5px 5px rgb(208, 208, 208);
}

.player-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;	
}

.player-circle.active {
  box-shadow: 0 0 30px 20px rgb(254, 254, 183);
}

.player-circle.target {
  box-shadow: 0 0 30px 20px rgb(247, 0, 255);
}

.kissing {
  position: absolute;
  width: 120px;
  height: 120px;
  top: 0px;
  left: 0px;
  transition-duration: 5s;
  transition: transform .3s ease;
  animation: flyTarget 3s infinite;
  z-index: 5;
}

.player-circle.target.kissing {
  top: -250px;
  left: 150px;
}

.player-circle.active.kissing {
  top: -250px;
  left: -150px;
}

.bottle-container {
  position: absolute;
  width: 180px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottle {
  width: 120px;
  height: 120px;
  border-radius: 10%;
  cursor: pointer;
  background-image: url(./assets/Bottle.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.kiss-counter {
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 24px;
  color: #f6f5f5;
  background-color: #333;
  padding: 8px 18px;
  border-radius: 24px;
  border: 2px solid #f0f8ff;
  box-shadow: 0 0 5px 5px rgb(208, 208, 208);
}

.countdown {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  color: rgba(191, 5, 5, 0.775);
  z-index: 5;
  animation: pulse 1s infinite;
}

.kiss-image {
  position: absolute;
  height: 0px;
  width: 0px;
}

.kiss-visible {
  height: 100px;
  width: 100px;
  animation: kisser 3s infinite;
  z-index: 10;
}

@keyframes pulse {
  0% {
      transform: scale(1);
  }
  70% {
      transform: scale(5);
      opacity: 0.7;
  }
  90% {
    transform: scale(7);
    opacity: 0.6;
  }
  100% {
      transform: scale(9);
      opacity: 0.1;
  }
}

@keyframes kisser {
  0% {
      transform: scale(1);
  }
  25% {
      transform: scale(1.6);
      opacity: 0.7;
  }
  50% {
    transform: scale(2);
    opacity: 0.6;
  }
  75% {
      transform: scale(2.5);
      opacity: 0.1;
  }
}

@keyframes flyActive {
  0% {
    transform: scale(1);
  }

  100% {
      transform: scale(2);
      opacity: 0.7;
  }
}

@keyframes flyTarget {
  /* 0% {

    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1.4);
  }
  75% {
    transform: scale(1.6);
  }
  100% {
      transform: scale(2);
      opacity: 0.7;
  } */

  from {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 5px 5px rgb(208, 208, 208);
  }
  to {
    position: relative;
    width: 120px;
    height: 120px;
    /* top: -150px;
    left: 50px; */
    transition-duration: 5s;
    /* animation: flyTarget 3s infinite; */
    z-index: 5;
  }
}